.Main {
  /* background-color: black; */
  color: white;
}
/* .Main .MuiTextField-root {
  color: white;
  border-color: white;
}
.Main .MuiInputBase-root {
  color: white;
  border-color: white;
} */
